<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscador de Datos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

    <h1>Buscador de Datos</h1>

    <form method="POST" action="/">
        <input type="text" name="name" placeholder="Buscar por Nombre">
        <input type="text" name="brand" placeholder="Buscar por Marca">
        <input type="text" name="vehicle" placeholder="Buscar por Vehículo">
        <button type="submit">Buscar</button>
    </form>

    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Detalles</th>
                <th>Marca</th>
                <th>Vehículo</th>
                <th>Precio</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
                <tr>
                    <td>{{ row['Nombre'] }}</td>
                    <td>{{ row['Detalles'] }}</td>
                    <td>{{ row['Marca'] }}</td>
                    <td>{{ row['Vehiculo'] }}</td>
                    <td>{{ row['Precio'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html>
